@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(138, 138, 138);
}

.cta{
    display: inline-block;
    background-color: #2d3c4a;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    margin-top: 2em;
}

.delete-button {
    margin-left: 5px; 
    background-color: #2d3c4a;; 
    color: #fff;
    border-radius: 32px;
}